.soporte{
    width: 100px;
    height: 100px;
}

.ayuda{
    text-align: center;
    width: 70%;

}

.cuerpo{
    width: 80%;
    height: 80%;
}

.texto2{
    text-align: center;
    width: 85%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}