<ion-header>
  <ion-toolbar>
    <ion-title>Soporte</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<br><br>
<ion-content>
  <br><br>
  <center><img src="assets/soporte.jpg" alt="location" class="soporte"></center>
  <br><br>
  <center><ion-item color="warning" class="ayuda">
    <ion-label>
      ¿Necesitas Ayuda?
    </ion-label>
  </ion-item></center>
  <br><br>
  <center><ion-item color="warning" class="texto2">
    <ion-label>
      <h2>Aqui tienes nuestras</h2>
      <h2>redes sociales para</h2>
      <h2>contactarnos:</h2>
    </ion-label>
  </ion-item></center>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button color="light">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-whatsapp"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>



  

</ion-content>
