<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Datos personales</ion-title>
  </ion-toolbar>
</ion-header>
<br><br>
<ion-content>

  <center><img src="assets/user.png" alt="location" class="user"></center>
<ion-card-content>
  
  
  <ion-list>
    <ion-item>
      <tr *ngFor="let us of usuarios; let i=index">
      <ion-badge slot="start">Nombre:</ion-badge>
      <ion-label>{{us.nomUsuario}}</ion-label></tr>
    </ion-item>
    <br>
    <ion-item>
      <tr *ngFor="let us of usuarios; let i=index">
      <ion-badge slot="start">Email:</ion-badge>
      <ion-label>{{us.correoUsuario}}</ion-label></tr>
    </ion-item>
    <br>
    <ion-item>
      <tr *ngFor="let us of usuarios; let i=index">
      <ion-badge slot="start">Tipo de Usuario:</ion-badge>
      <ion-label>{{us.tipoUsuario}}</ion-label></tr>
    </ion-item>
  </ion-list>

  <br>
</ion-card-content>
<center><ion-button (click)="cerrarSesion()" color="danger"  class="boton">
  Cerrar Sesión
</ion-button></center>


</ion-content>
