<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Quienes Somos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


    <ion-card-header>
      <ion-card-title>Quienes Somos</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p class="parrafo">
        Somos un grupo de alumnos de Duoc UC los cuales desarrollamos una aplicación. 
        La cual optimiza el proceso de registro de asistencia. Tanto para el docente como el alumno.
         El motivó de desarrollar esta APP fue debido a que.
          En proceso de pandemia hubieron muchos factores que alteraban el proceso de registro de asistencia. 
          En ocasiones, errores en el registro correctamente.
      </p> 
      <img src="assets/quere.jpeg" alt="location">


      <p class="parrafo"> Con el fin de terminar con esta problematica en forma definitiva.
         Decidimos desarrollar esta APP para que el alumno registre su propia asistencia leyendo un codigo QR a traves de la camara de sus dispositivos moviles. El QR sera proyectado por el docente en cada aula. 
         El codigo sera diferente cada dia. El alumno al leer el codigo QR proyectado. 
         Se le tomara la asistencia de forma automatica y quedara registrado con el dia, 
         fecha y hora.</p>

         <img src="assets/profe.jpg" alt="location">
         <img src="assets/Sala.jpg" alt="location">
    
        
    
    </ion-card-content>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button color="light">
        <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="start">
        <ion-fab-button color="light">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light">
          <ion-icon name="logo-instagram"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </ion-content>