<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Quienes Somos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card-header>
      <ion-badge> <tr *ngFor="let us of usuarios; let i=index">
        <td style="font-size: x-large"> Bienvenido/a {{us.nomUsuario}}!!!</td></tr></ion-badge>
    </ion-card-header>
  
    <ion-card-content>
      <h2 class="parrafo">
      
        RegistrAPP le permitirá a usted o a su departamento de recursos humanos, registrar de forma fácil la asistencia de sus trabajadores o estudiantes.
      </h2> 
      <br>
      <img src="assets/quere.jpeg" alt="location">
      <img src="assets/profe.jpg" alt="location">
    
            
    </ion-card-content>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button color="light">
        <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="start">
        <ion-fab-button color="light">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light">
          <ion-icon name="logo-instagram"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </ion-content>