
<ion-header>
  
  <ion-toolbar>
    <ion-title> RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="cuerpo">
    <br><br><br>
    <center><img class="logo" src="assets/favicon.png" alt="location"></center>
<br>
<ion-item color="primary" class="parrafo">
  <ion-label class="titulo"><h1>Iniciar Sesión</h1></ion-label>
</ion-item>
  <br>
  <ion-item color="primary" class="parrafo">
    <ion-label>
  <p class="parrafo">
    Bienvenido al inicio de Sesion</p> 
    <p class="parrafo">de  RegistrAPP, Porfavor</p> 
    <p class="parrafo">seleccione el tipo de usuario</p> <p class="parrafo">al cual pertenece.</p>
    </ion-label> <br><br>
  </ion-item>
  <br><br>
    <ion-button href="/login" color="warning" expand="block">Docente</ion-button><br>
<ion-button href="/login" color="warning" expand="block">Alumno</ion-button>



<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button color="light">
    <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start">
    <ion-fab-button color="light">
      <ion-icon name="logo-facebook"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light">
      <ion-icon name="logo-instagram"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light">
      <ion-icon name="logo-whatsapp"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>






</div>
</ion-content>
<div class="cuerpo"></div>
